@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root {
  --bg-color: #F5F6F8;
  --accent: #2080ED;
  --muted-one: #3A3A3A;
  --muted-two: #A5A5A5;
  --green: #237141;
  --red: #DF2C29;
}

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-castoro: "Castoro", serif;
}

body {
  background-color: var(--bg-color);
}

@layer components {
 
  .layout {
    @apply border min-h-svh flex;

    .side-bar {
      @apply shadow-lg w-[25%] bg-white flex flex-col min-h-screen;

      h1 {
        @apply border border-[var(--bg-color)] border-[0px_4px_4px_0px] text-[var(--accent)] h-[10%] flex items-end font-bold font-manrope text-4xl p-[0px_0px_4px_16px];
      }

      .nav-cont {
        @apply p-4 flex flex-col gap-3;

        .nav {
          @apply flex gap-2 p-2 rounded-xl font-semibold text-sm cursor-pointer text-[var(--muted-one)] transition duration-300 ease-in-out;
        }
      }

      .quick-handler {
        @apply p-3 mt-auto flex flex-col gap-2;

        .divider {
          @apply border border-[var(--muted-two)]
        }

        .acc-handler {
          @apply flex gap-2 p-2 cursor-pointer;

        }

        .one {
          @apply text-[var(--muted-one)];
        }

        .two {
          @apply text-[var(--red)];
        }

      }
    }

    .body-cont {
      @apply flex flex-col gap-2 w-full;

      .header {
        @apply h-[10%] bg-white shadow-sm flex items-center px-4;

        .header-one {
          @apply w-[85%] h-full flex items-center justify-center;
        
          .search-bar {
            @apply w-[40%] bg-[var(--bg-color)] p-[6px_10px] rounded-lg text-[var(--muted-one)] flex justify-between items-center font-manrope font-bold;
          
            p {
              @apply w-[80%] text-xs; 
            }
          }
        }

        .header-two {
          @apply w-[15%] h-full flex items-center justify-around text-[var(--muted-one)];

          .with-notif {
            @apply relative w-5;

            .notif {
              @apply absolute w-3 h-3 rounded-full right-0 text-[8px] font-bold text-center;

              p {
                @apply text-white;
              }
            }

            .notif-one {
              @apply bg-[var(--green)];
            }

            .notif-two {
              @apply bg-[var(--red)];
            }
          }

          img {
            @apply h-10 w-10 object-cover rounded-full
          }
        }
      }

      .outlet-body {
        @apply border h-[90%];
      }
    }
  }

}